:root {
	/*  fonts  */
	--primary-font: 'Roboto', sans-serif;
	--secondy-font: 'Raleway', sans-serif;
	/*  color  */
	--color-iris: #4d5ae5;
	--color-ocean: #404bbf;
	--color-navy-blue: #2e2f42;
	--color-green: #31d0aa;
	--color-slate: #434455;
	--color-light-slate: #8e8f99;
	--color-cornflower: #e7e9fc;
	--color-cloud: #f4f4fd;
	--color-navy-blue-modal: #2e2f42;
	--color-grey: #2e2f42;
	--color-white: #ffffff;
	--color-dairy: #fcfcfc;
	/*  others  */
}

/*
========= base style ========= 
*/
body {
	font-family: var(--primary-font);
	font-size: 16px;
	letter-spacing: 0.02em;
	color: var(--color-slate);
	background-color: var(--color-white);
}

img {
	display: block;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.header-address {
	font-style: normal;
}

/*
========= header style ========= 
*/
.header {
	border-bottom: 1px solid #E7E9FC;
}

.header-container {
	display: flex;
}
.container {
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}

.header-nav {
	display: flex;
	align-items: center;
}

.header-nav-item {
	display: flex;
}

.header-nav-list {
	margin-right: 40px;
	padding-top: 24px;
	padding-bottom: 24px;
}

.header-nav-list:last-child {
	margin-right: 0;
}

.logo {	
	font-family: var(--secondy-font);
	font-size: 18px;
	font-weight: 800;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-iris);
	margin-right: 76px;
}

.header-logo {
	color: var(--color-navy-blue);
}

.header-nav-link {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color:var(--color-navy-blue);
}

.header-nav-link:hover, 
.header-nav-link:focus {
	color: var(--color-ocean);
}

.header-address {
	margin-left: auto;
}

.header-address-item {
	display: flex; 
	align-items: center;

}

.header-address-link {
	line-height: 1.5;
	color: var(--color-slate);
}

.header-address-list {
	display: flex;
	padding: 24px 0 24px;
	margin-right: 40px;
}

.header-address-list:last-child {
	margin-right: 0;
	padding: 24px 0 24px;
}

.header-address-link:hover,
.header-address-link:focus {
	color: var(--color-ocean);
}

/*
========= hero style ========= 
*/
.hero {
	background-color: var(--color-navy-blue);
	padding-top: 188px;
	padding-bottom: 188px;
}
.hero-title {
	width: 496px;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--color-white);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}
.hero-button {
	font-family: var(--primary-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
	background-color: var(--color-iris);
	color:var(--color-white);
	display: block;
	min-width: 169px;
	height: 56px;
	border: none; 
	border-radius: 4px;
	cursor: pointer;
	margin: 0 auto;
	}
.hero-button:hover,
.hero-button:focus {
	background-color: var(--color-ocean);
}

/*
========= advantages style ========= 
*/
.advantages {
	padding-top: 120px; 
	padding-bottom: 120px
}

.advantages-list {
	display: flex;
	gap: 24px; 
	margin-right: 24px
}

.advantages-list:last-child {
	margin-right: 0;
}

.advantages-first {
	width: calc((100% - 72px) / 4);

}

.advantages-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--color-navy-blue-modal);
}
.advantages-desc {
	line-height: 1.5;
}

/*
========= action style ========= 
*/

.action-title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--color-navy-blue-modal);
}

/*
========= team style ========= 
*/

.team {
	background-color: var(--color-cloud);
}
.team-title {
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--color-grey);
}
.team-sub-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--color-grey);
	}
.team-desc {
line-height: 1.5;
text-align: center;
color: var(--color-slate);
}
.team-item {
	background-color: var(--color-white);
}

/*
========= footer style ========= 
*/


.footer {
	background-color: var(--color-navy-blue);
}
.logo-footer {
	color: var(--color-cloud);
}
.footer-desc {
	line-height: 1.5;
	color: var(--color-cloud);
}

/*
========= portfolio style ========= 
*/

.portfolio-button {
	font-family: var(--primary-font);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.04em;
	color: var(--color-iris);
	cursor: pointer;
	background-color: var(--color-cloud);
}

.portfolio-button:hover,
.portfolio-button:focus {
	background-color: var(--color-ocean);
	color: var(--color-white);
}

/*
========= portfolio card ========= 
*/

.main-card-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--color-grey);
}
.main-card-text {
	line-height: 1.5;
	color: var(--color-slate);
}